// Font
.font {
  &-bold {
    font-weight: $bold-weight !important;
  }

  &-medium {
    font-weight: $medium-weight !important;
  }

  &-italic {
    font-style: italic !important;
  }
}

// Text align
.align {
  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }

  &-justify {
    text-align: justify !important;
  }
}

// Display Utilities
.d {
  &-inline-block {
    display: inline-block;
  }

  &-block {
    display: block !important;
  }
}

.sr-only,
.screen-reader-text,
.hidden {
  @include visually-hidden;
}

.no-scroll {
  overflow: hidden !important;

  &--overlay {
    overflow: hidden !important;

    &::before {
      content: '';
      background: $white;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9999;
    }
  }

  &-force {
    position: fixed;
    height: 100%;
    overflow-y: none !important;
    overflow: hidden !important;

    body {
      height: 100%;
      overflow-y: none !important;
      overflow: hidden !important;
    }
  }
}

.mobile-only {
  display: inline-block;

  @include break-min($lg) {
    display: none !important;
  }
}

.tablet-up {
  display: inline-block;

  @include break-max($md) {
    display: none !important;
  }
}

.desktop-only {
  display: inline-block;

  @include break-max($lg) {
    display: none !important;
  }
}

.grid-wrapper {
  @include grid(4);

  &--tidy {
    @include grid(3);
  }
}
