// @todo move these imports to a dynamic way
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400&family=Roboto:wght@300;400;500;700&display=swap');

// Fonts TODO: Change
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-label: 'Roboto', sans-serif;
$font-misc: 'Poppins', sans-serif;

// Weights
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
